run.sh
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea
pids
logs

dump.rdb

npm-debug.log
node_modules

cognuse-manager.sublime-workspace
cognuse-manager.sublime-project

.DS_Store
*.njsproj
*.sln
*.suo
obj/
.gitattributes

public/build/main.js
public/build/styles.css
public/bower_components

update.sh
run.sh
dev.sh

.settings/

public/build/common.css
public/build/common.js
public/build/login.js
public/build/manager.css
public/build/manager.js
public/build/patient.js
public/build/controllers.js
public/build/recover.js
public/build/patient.css
public/builld/*.map

recovery.js
# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml

.elasticbeanstalk/app_versions/
bower_components
public/build

.vscode

secrets.sh